.candidate-report-item {
  background-color: #8AAE92 !important;
  color: teal !important; 
  padding: 10px;
  cursor: pointer;
}

.candidate-report-item:hover {
  background-color: #b8b7b7 !important;
  color: white !important;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  cursor: pointer;
}

.active {
  padding: 10px;
  background-color: #b8b7b7 !important;
  color: white !important;
}

.selectCandidate-img img {
  border-radius: 50%;
  max-width: 7rem;
  max-height: 7rem;
}