.form-bg {
  background-color: #F4F9F4;
}

.bgImage {
  background-image: url("../../assets/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.form-bg input {
  padding: 10px;
}

.invalid input {
  border-color: red;  
}
.invalid label {
  color: red;
}

@media (max-width: 576px) { 

  .bgImage {
    display: none;
  }
}