.form-bg {
  background-color: #e8ecee;
}

.bgImage {
  background-image: url("../../assets/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.form-bg input {
  padding: 10px;
}

.invalid input {
  border-color: red;  
}
.invalid label {
  color: red;
}