.modal {
  background-color: #dce0dc;
  position: fixed;
  top: 25vh;
  left: 25%;
  z-index: 100;
  overflow: hidden;
}

.modal i {
  font-size: 2.5rem;
  cursor: pointer;
}

.timesCircle{
  color: #616161;
}

.modal a {
  color: #000;
}

.linkedin a:hover {
  color: #0a66c2;
}

.github a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.website a:hover {
  color: red;
}

@media (max-width: 749px) { 

  .modal {
    top: 10%;
    left: 4%;
  }
}

@media only screen and (max-width: 780px) and (min-width: 750px) {
  .modal {
    top: 10%;
    left: 4%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 781px) {
  .modal {
    top: 20%;
    left: 4%;
  }
}

@media (min-width: 1201px) { 

  .modal {
    top: 25%;
    left: 25%;
  }
}