/* ===============================================
  -Interviews-reports
  -final project during studies at Belgrade Institute of Technology
  -colaborators : Tanja Ilic, Matina Tintor Popovic, Aleksandar Bisevac, Boris Perkovic
  -React App, Single Page App
  -created: September 2021
 =================================================*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html,
body {
  min-height: 100%;
  width: 100%;
}
html {
  position: relative;
}
body {
  position: absolute;
  background-color: #F4F9F4;
}

.main-mb {
  margin-bottom: 100px;
}
.imgHolder img {
  border-radius: 50%;
  max-width: 10rem;
  max-height: 10rem;
}

.imgHolder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-wrapper {
  height: 45vh;
  overflow: auto;
}

a {
  text-decoration: none; 
}


.form-control:focus,
.form-select:focus {   
  border-color: #8AAE92;
  box-shadow: 0px 0px 5px 5px rgba(138, 174, 146, 0.65);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(138, 174, 146, 0.65);
  -moz-box-shadow: 0px 0px 5px 5px rgba(138, 174, 146, 0.65);
  outline: 0 none !important;       
}

